@import "tailwindcss";
@plugin "daisyui" {
  include: button, badge, input, card, tooltip, kbd, radio, select, checkbox, alert, modal, divider;
}

@theme {
  --font-mono: ui-monospace,"Roboto Mono",monospace;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #7947E3;
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(97% 0.014 343.198);
  --color-accent: oklch(83% 0.128 66.29);
  --color-accent-content: oklch(26% 0.079 36.259);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(78% 0.115 274.713);
  --color-info-content: oklch(25% 0.09 281.288);
  --color-success: oklch(87% 0.15 154.449);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #140F1F;
  --color-base-200: #1D172B;
  --color-base-300: #241D34;
  --color-base-content: oklch(94% 0.029 294.588);
  --color-primary: #7947E3;
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(83% 0.128 66.29);
  --color-accent-content: oklch(26% 0.079 36.259);
  --color-neutral: oklch(92% 0.004 286.32);
  --color-neutral-content: oklch(21% 0.006 285.885);
  --color-info: oklch(78% 0.115 274.713);
  --color-info-content: oklch(28% 0.141 291.089);
  --color-success: oklch(87% 0.15 154.449);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}



:root {
  @apply bg-base-100 text-base-content font-mono font-normal text-[1rem] min-w-[360px];
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
iconify-icon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  font-size: 1em;
  justify-items: center;
  align-items: center;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
input[type='number'] {
  -moz-appearance: textfield;
}



@layer base{
  input,
  textarea,
  select,
  button {
    border: 0px solid;
    border-radius: 0;
    padding: 0;
    color: inherit;
    background-color: transparent;
  }
  .container{
    @apply mx-auto max-w-7xl px-4 lg:px-6 overflow-x-visible;
  }
  .response_cols{
    @apply grid grid-cols-1 gap-4 lg:grid-cols-12 lg:gap-8 md:grid-cols-10 md:gap-6 sm:grid-cols-6 sm:gap-4 grid-flow-dense overflow-x-auto;
  }
  a{
    @apply text-primary hover:text-base-content inline-flex gap-1 ;
  }
  a.active{
    @apply text-base-content font-medium;
  }
}



@layer components {
  .tipy{
    @apply bg-base-200 p-3 rounded-2xl border border-base-300 text-sm;
  }


  .ball{
    @apply inline-flex font-bold border-current border text-base-content rounded-full items-center justify-center size-[2rem];
    
    &:is(.ball-sm){
      @apply text-sm size-[1.8em];
    }
    &:is(.ball-outline){
      @apply bg-transparent;
    }
    &:is(.ball-fill){
      @apply text-base-100;
      background: radial-gradient(60.71% 60.71% at 30.36% 21.43%, #e86500 0%, #812de6 100%);
      &:hover{
        @apply bg-base-content/10;
      }
    }
  }
  
  .number{
    @apply text-center p-1 overflow-hidden bg-base-100 text-xs rounded-full static hover:bg-base-200 cursor-pointer;
  }

}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes contentHide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-8px);
  }
}
