
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  include: button, badge, input, card, tooltip, kbd, radio, select, checkbox, alert, modal, divider, status, floating-label,label, join, join-item, dropdown, dropdown-content, range,validator,menu,stats,stat,navbar,glass,skeleton,hero, drawer,rootscrollgutter,divider;
}

@theme {
  --font-mono: "Noto Sans Mono",ui-monospace,monospace;
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-fade-in: fade-in 0.2s ease-out forwards;
  --animate-scale-in: scale-in 0.2s ease-out forwards;
  --animate-fade-out: fade-out 0.2s ease-in forwards;
  --animate-scale-out: scale-out 0.2s ease-in forwards;
  @keyframes wiggle {
    10% { 
      transform: rotate(1.5deg); 
    } 
    20% { 
      transform: rotate(-1deg); 
    } 
    30% { 
      transform: rotate(0.5deg); 
    } 
    40% { 
      transform: rotate(-0.5deg); 
    } 
    50%,100% { 
      transform: rotate(0deg); 
    }
  }
  @keyframes heartbeat {
    0% { opacity: 1; } 
    50% { opacity: 0.5;} 
    100% { opacity: 1;} 
  }
  @keyframes scale-in {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
  }
  @keyframes scale-out {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
  }
  @keyframes fade-out {
      0% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(93% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(54.52% 0.222 292.08);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(97% 0.014 343.198);
  --color-accent: oklch(83% 0.128 66.29);
  --color-accent-content: oklch(26% 0.079 36.259);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(78% 0.115 274.713);
  --color-info-content: oklch(25% 0.09 281.288);
  --color-success: oklch(87% 0.15 154.449);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --radius-box : 1em;
}


@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(18.35% 0.033 297.47);
  --color-base-200: oklch(27% 0.039 296.92);
  --color-base-300: oklch(32% 0.044 297.16);
  --color-base-content: oklch(94% 0.029 294.588);
  --color-primary: oklch(54.52% 0.222 292.08);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(83% 0.128 66.29);
  --color-accent-content: oklch(26% 0.079 36.259);
  --color-neutral: oklch(92% 0.004 286.32);
  --color-neutral-content: oklch(21% 0.006 285.885);
  --color-info: oklch(78% 0.115 274.713);
  --color-info-content: oklch(28% 0.141 291.089);
  --color-success: oklch(87% 0.15 154.449);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
  --radius-box : 1em;
}




:root {
  @apply bg-base-100 text-base-content font-mono font-normal text-[1rem] min-w-[360px];
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
iconify-icon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  font-size: 1.2em;
  justify-items: center;
  align-items: center;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
input[type='number'] {
  -moz-appearance: textfield;
}

@layer base{
  .container{
    @apply mx-auto max-w-7xl px-4 lg:px-6 overflow-x-visible;
  }
  .response_cols{
    @apply grid grid-cols-1 gap-4 lg:grid-cols-12 lg:gap-8 md:grid-cols-10 md:gap-6 sm:grid-cols-6 sm:gap-4 grid-flow-dense overflow-x-auto;
  }
  a{
    @apply text-primary hover:text-base-content inline-flex gap-1 ;
  }
  a.active{
    @apply text-base-content font-medium;
  }
  dl.dlist{
    @apply flex flex-col md:flex-row gap-1 md:gap-2 flex-wrap py-2;
    &:is(.dlist-divide){
      @apply border-b-1 border-base-content/10  last:border-b-0;
    }
    dt{
      @apply w-full md:w-1/2 text-current/50 ; 
    }
    dd{
      @apply flex-1;
    }
  }

  .popup-animate{
    transition-timing-function:ease-in-out;
    transition: all .2s allow-discrete;
    transform: translateY(100%);
    opacity: 0;

    &::backdrop{
      transition-timing-function: ease;
      transition: all .2s allow-discrete;
      opacity: 0;
    }

    &[open]{
      transform: translateY(0%);
      opacity: 1;
    }
    &[open]::backdrop{
      opacity: 1;
    }
    @starting-style{
      &[open]{
        transform: translateY(100%);
        opacity: 0;
      }
      &[open]::backdrop{
        opacity: 0;
      }
    }
  }
  

}
@layer utilities {
  .pb-safe {
    padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS 旧版本 */
    padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS 现代浏览器 */
  }
  .mask-right {
    -webkit-mask-image: linear-gradient(to right,transparent 0%, black 2%, black 90%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%,black 2%, black 90%,black 90%, transparent 100%);
  }
  .hide-scorllbar{

    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
  } 
}
@layer components{
  .panel {
    @apply bg-base-200/50 shadow-md outline-1 outline-base-content/10 backdrop-blur-3xl;
  }
  .ball{
    @apply inline-flex font-bold border-current border text-base-content rounded-full items-center justify-center size-[2rem];
    
    &:is(.ball-sm){
      @apply text-sm size-[1.8em];
    }
    &:is(.ball-outline){
      @apply bg-transparent;
    }
    &:is(.ball-fill){
      @apply text-base-100;
      background: radial-gradient(60.71% 60.71% at 30.36% 21.43%, #e86500 0%, #812de6 100%);
      &:hover{
        @apply bg-base-content/10;
      }
    }
   
 

  }

  .number{
    @apply text-center p-1 overflow-hidden bg-base-100 text-xs rounded-full static hover:bg-base-200 cursor-pointer;
  }

  

}