@import "tailwindcss";

/* @import "https://unpkg.com/open-props"; */
@theme {
  --color-*: initial;
  --color-base-0: #ffffff;
  --color-base-100: #EFEBF3; 
  --color-base-200: #E4DDEB;
  --color-base-content: #0E0A16;
  --color-primary: #6535CD;
  --color-primary-content: #ffffff;
  --color-secondary: #F9302A;
  --color-secondary-content: #ffffff;
  --color-third: #FCB61C;
  --color-third-content: #000000;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-0: #ffffff;
  --color-gray-200: #e4e4e4;
  --color-gray-400: #d4d4d4;
  --color-gray-600: #737373;
  --color-gray-800: #262626;
  --color-gray-1000: #000000;
  --font-mono: ui-monospace,"Roboto Mono",monospace;
}


:root {
  @apply bg-base-0 text-base-content font-mono font-normal text-[1rem] min-w-[360px];
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
input[type='number'] {
  -moz-appearance: textfield;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-base-0: #0E0A16;
    --color-base-100: #1f192b;
    --color-base-200: #372e46;
    --color-base-content: #c8c3d0;
    --color-primary: #7947e3;
    --color-gray-1000: #ffffff;
    --color-gray-800: #e4e4e4;
    --color-gray-600: #d4d4d4;
    --color-gray-400: #737373;
    --color-gray-200: #262626;
    --color-gray-0: #000000;
  }
}

@layer base{
  input,
  textarea,
  select,
  button {
    border: 0px solid;
    border-radius: 0;
    padding: 0;
    color: inherit;
    background-color: transparent;
  }
  .container{
    @apply mx-auto max-w-7xl px-4 lg:px-6 overflow-x-hidden;
  }
  .response_cols{
    @apply grid grid-cols-1 gap-4 lg:grid-cols-12 lg:gap-8 md:grid-cols-10 md:gap-6 sm:grid-cols-6 sm:gap-4 grid-flow-dense overflow-x-hidden;
  }
  a{
    @apply text-primary hover:text-base-content inline-flex gap-1 ;
  }
  a.active{
    @apply text-base-content font-medium;
  }
}



@layer components {
  .tipy{
    @apply bg-base-100 p-4 rounded-2xl border border-base-200;
  }

  .kbd{
    @apply inline-flex items-center justify-center rounded-md px-1 py-0 text-xs border border-current border-b-2 bg-current/20;
  }

  .ball{
    @apply inline-flex font-bold border-current border text-base-content rounded-full items-center justify-center size-[2rem];
    
    &:is(.ball-sm){
      @apply text-sm size-[1.8em];
    }
    &:is(.ball-outline){
      @apply bg-transparent;
    }
    &:is(.ball-fill){
      @apply text-gray-0;
      background: radial-gradient(60.71% 60.71% at 30.36% 21.43%, #e86500 0%, #812de6 100%);
      &:hover{
        @apply bg-base-content/10;
      }
    }
  }
  
  .number{
    @apply text-center p-1 overflow-hidden bg-base-100 text-xs rounded-full static hover:bg-base-200 cursor-pointer;
  }



  .btn{
    @apply inline-flex cursor-pointer items-center justify-center leading-none text-center transition-all ;
    &:disabled { @apply cursor-not-allowed text-current/20; }
    /* sizes */
    &,
    &:is(.btn-md) { @apply px-[1em] h-[2.4em] py-0 text-base rounded-[0.5em]; &:is(.btn-icon){ @apply size-[2.4em] *:scale-105} }
    &:is(.btn-lg) { @apply px-[1.1em] h-[2.6em] py-0 rounded-[0.5em] text-lg; &:is(.btn-icon){ @apply size-[2.6em]}}
    &:is(.btn-xl) { @apply px-[1.2em] h-[2.8em] py-0 rounded-[0.6em] text-xl; &:is(.btn-icon){ @apply size-[2.8em]}}
    &:is(.btn-sm) { @apply px-[0.6em] h-[2.2em] py-0 rounded-[0.4em] text-sm; &:is(.btn-icon){ @apply size-[2.2em]}}
    &:is(.btn-xs) { @apply px-[0.8em] h-[2em] py-0 rounded-[0.4em] text-xs; &:is(.btn-icon){ @apply size-[2em]}}
    /* styles */
    &,
    &:is(.btn-default):not(:disabled) { @apply border bg-base-100 border-base-100 text-base-content; 
      &:hover:not(:disabled) { @apply bg-base-100/80 border-base-100; }
      &:is(.btn-ghost){@apply bg-transparent border-transparent text-base-content hover:text-base-content;}
      &:is(.btn-outline){@apply bg-transparent border-current text-base-content hover:text-base-content;}
    }
    &:is(.btn-primary):not(:disabled) { @apply border bg-primary border-primary text-primary-content; 
      &:hover:not(:disabled) { @apply bg-primary/90 border-primary; }
      &:is(.btn-ghost){@apply bg-transparent border-transparent text-primary hover:text-primary-content;}
      &:is(.btn-outline){@apply bg-transparent border-current text-primary hover:text-primary-content;}
    }
    &:is(.btn-secondary):not(:disabled) { @apply border bg-secondary border-secondary text-secondary-content; 
      &:hover:not(:disabled) { @apply bg-secondary/90 border-secondary; }
      &:is(.btn-ghost){@apply bg-transparent border-transparent text-secondary hover:text-secondary-content;}
      &:is(.btn-outline){@apply bg-transparent border-current text-secondary hover:text-secondary-content;}
    }
    &:is(.btn-third):not(:disabled) { @apply border bg-third border-third text-third-content; 
      &:hover:not(:disabled) { @apply bg-third/90 border-third; }
      &:is(.btn-ghost){@apply bg-transparent border-transparent text-third hover:text-third-content;}
      &:is(.btn-ghost){@apply bg-transparent border-current text-third hover:text-third-content;}
    }
   
  }
 

}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes contentHide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-8px);
  }
}
